$fa-font-path: "./../node_modules/@fortawesome/fontawesome-free/webfonts/"
@import './../node_modules/@fortawesome/fontawesome-free/scss/fontawesome'
@import './../node_modules/@fortawesome/fontawesome-free/scss/regular'
@import './../node_modules/@fortawesome/fontawesome-free/scss/solid'
@import './../node_modules/@fortawesome/fontawesome-free/scss/brands'

@import '../node_modules/bulma/bulma'


*
  font-family: 'Montserrat', sans-serif

html
  font-size: 18px
  scroll-behavior: smooth


.anchor
  display: block
  position: relative
  top: -250px
  visibility: hidden


.header
  display: flex
  flex-direction: row
  justify-content: space-around
  border-bottom: 1px solid #d6d6d6
  padding: 15px
  align-items: center

  .logo, .hire-btn
    flex-grow: 1
    display: flex
    justify-content: center

  .head-buttons
    display: flex
    flex-grow: 1.5
    justify-content: space-between
    .hire-btn
      margin-right: 10px
      align-self: center

  .menu-container
    display: flex
    flex-grow: 4
    flex-direction: row
    justify-content: space-around


    .menu-item
      color: royalblue
      cursor: pointer
      font-weight: 500

  .hire-btn
    background: royalblue
    border: 0
    color: white
    font-size: 0.8em
    font-weight: bold
    padding: 10px 0px
    border-radius: 3px
    cursor: pointer
    &:hover
      background: darken(royalblue, 3%)
    &:active
      background: darken(royalblue, 6%)



.personal-info
  padding-left: 50px
  padding-right: 150px
  margin-top: 30px
  display: flex
  flex-direction: row
  justify-content: space-around

  .avatar
    display: block
    border-radius: 50%
    border: 10px dashed royalblue
    width: 200px
    height: 200px

  .avatar-wave
    display: flex
    justify-content: center
    width: 40%

  .details
    width: 650px
    display: flex
    flex-direction: column
    justify-content: center
    .name
      font-weight: 700
      font-size: 3em
      text-align: center
      text-transform: uppercase

    .position
      text-align: center
      font-size: 2em
      font-weight: 300
    .description
      text-align: center

.contacts
  margin-top: 15px
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  .contact-item
    display: flex
    align-items: center
    i
      font-size: 2em
      color: royalblue
      margin-right: 5px


.skills
  display: flex
  flex-direction: row
  justify-content: space-around

  .column
    display: flex
    flex-direction: column
    align-items: center

.work-place
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  .avatar
    width: 40%
  &:nth-child(4n)
    .avatar
      order: 2

  .work-info
    width: 650px
    display: flex
    flex-direction: column

    .title
      margin: 0
      font-size: 2.5em
    .sub-title
      font-size: 1.5em
      font-weight: 300



